.jltma-creative-button--saqui::after,
.jltma-creative-button--nina::before,
.jltma-creative-button--pipaluk::after,
.jltma-creative-button--pipaluk::before,
.jltma-creative-button--wapasha::before,
.jltma-creative-button--antiman::before,
.jltma-creative-button--antiman::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.jltma-creative-button--nina::before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jltma-creative-button--saqui {
  overflow: hidden;
  color: #fff;
  background: #37474f;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.jltma-creative-button--saqui::after {
  content: attr(data-text);
  padding: 1em 2em;
  background-color: #3f51b5;
  color: #37474f;
  -webkit-transform-origin: -40% 50%;
      -ms-transform-origin: -40% 50%;
          transform-origin: -40% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.jltma-creative-button--saqui:hover {
  background-color: #7986cb;
  color: #7986cb;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.jltma-creative-button--saqui:hover::after {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.jltma-creative-button--saqui .jltma-creative-button--inverted {
  background: #fff;
  color: #37474f;
}
.jltma-creative-button--saqui .jltma-creative-button--inverted::after {
  color: #fff;
}
.jltma-creative-button--saqui .jltma-creative-button--inverted:hover {
  background-color: #3f51b5;
  color: #3f51b5;
}
.jltma-creative-button--saqui .jltma-creative-button--inverted:hover::after {
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

.jltma-creative-button--isi {
  padding: 1.2em 2em;
  color: #fff;
  background: #7986cb;
  overflow: hidden;
}
.jltma-creative-button--isi::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #3f51b5;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
          transform: scale3d(1, 2, 1);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
       -o-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}
.jltma-creative-button--isi .button__icon {
  vertical-align: middle;
}
.jltma-creative-button--isi > span {
  vertical-align: middle;
  padding-left: 0.75em;
}
.jltma-creative-button--isi:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
          transform: scale3d(9, 9, 1);
}

.jltma-creative-button--nina {
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.jltma-creative-button--nina::before {
  content: attr(data-text);
  opacity: 1;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--nina > span {
  display: inline-block;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--nina:hover {
  background-color: #3f51b5;
}
.jltma-creative-button--nina:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.jltma-creative-button--nina:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.jltma-creative-button--nina:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
       -o-transition-delay: 0.045s;
          transition-delay: 0.045s;
}
.jltma-creative-button--nina:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
       -o-transition-delay: 0.09s;
          transition-delay: 0.09s;
}
.jltma-creative-button--nina:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
       -o-transition-delay: 0.135s;
          transition-delay: 0.135s;
}
.jltma-creative-button--nina:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
       -o-transition-delay: 0.18s;
          transition-delay: 0.18s;
}
.jltma-creative-button--nina:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
       -o-transition-delay: 0.225s;
          transition-delay: 0.225s;
}
.jltma-creative-button--nina:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
       -o-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.jltma-creative-button--nina:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
       -o-transition-delay: 0.315s;
          transition-delay: 0.315s;
}
.jltma-creative-button--nina:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
       -o-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.jltma-creative-button--nina:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
       -o-transition-delay: 0.405s;
          transition-delay: 0.405s;
}
.jltma-creative-button--nina:hover > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
       -o-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.jltma-creative-button--nina .button--inverted {
  background: #fff;
  color: #7986cb;
}

.jltma-creative-button--pipaluk {
  color: #fff;
}
.jltma-creative-button--pipaluk::before, .jltma-creative-button--pipaluk::after {
  content: "";
  -webkit-border-radius: inherit;
          border-radius: inherit;
  opacity: 1;
  z-index: -1;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
       -o-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
.jltma-creative-button--pipaluk::before {
  border: 2px solid #7986cb;
}
.jltma-creative-button--pipaluk::after {
  background: #7986cb;
}
.jltma-creative-button--pipaluk::before, .jltma-creative-button--pipaluk:hover::after {
  -webkit-transform: scale3d(0.7, 0.7, 1);
          transform: scale3d(0.7, 0.7, 1);
}
.jltma-creative-button--pipaluk:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.jltma-creative-button--pipaluk:hover::after {
  background-color: #3f51b5;
}
.jltma-creative-button--pipaluk.jltma-creative-button--inverted {
  color: #7986cb;
}
.jltma-creative-button--pipaluk.jltma-creative-button--inverted::before {
  border-color: #fff;
}
.jltma-creative-button--pipaluk.jltma-creative-button--inverted::after {
  background: #fff;
}
.jltma-creative-button--pipaluk.jltma-creative-button--inverted:hover::after {
  background-color: #fff;
}

.jltma-creative-button--moema {
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.jltma-creative-button--moema::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
          transform: scale3d(0.8, 0.5, 1);
}
.jltma-creative-button--moema:hover {
  background-color: #3f51b5;
  color: #eceff1;
  -webkit-animation: anim-moema-1 0.3s forwards;
          animation: anim-moema-1 0.3s forwards;
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  -o-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
}
.jltma-creative-button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
          animation: anim-moema-2 0.3s 0.3s forwards;
}
.jltma-creative-button--moema.jltma-creative-button--inverted {
  background: #eceff1;
  color: #37474f;
}
.jltma-creative-button--moema.jltma-creative-button--inverted:hover {
  color: #eceff1;
  background-color: #7986cb;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.jltma-creative-button--aylen {
  background: #fff;
  color: #37474f;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.jltma-creative-button--aylen::before, .jltma-creative-button--aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--aylen::before {
  background: #7986cb;
}
.jltma-creative-button--aylen::after {
  background: #3f51b5;
}
.jltma-creative-button--aylen:hover {
  color: #fff;
}
.jltma-creative-button--aylen:hover::before, .jltma-creative-button--aylen:hover:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.jltma-creative-button--aylen:hover ::after {
  -webkit-transition-delay: 0.175s;
       -o-transition-delay: 0.175s;
          transition-delay: 0.175s;
}
.jltma-creative-button--aylen.jltma-creative-button--inverted {
  background: none;
  color: #fff;
}

.jltma-creative-button--wapasha {
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.jltma-creative-button--wapasha::before {
  content: "";
  border: 2px solid #3f51b5;
  z-index: -1;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  -webkit-transform: scale3d(0.6, 0.6, 1);
          transform: scale3d(0.6, 0.6, 1);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--wapasha:hover {
  background-color: #fff;
  color: #3f51b5;
}
.jltma-creative-button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
}
.jltma-creative-button--wapasha.jltma-creative-button--inverted {
  background: #fff;
  color: #37474f;
}
.jltma-creative-button--wapasha.jltma-creative-button--inverted::before {
  border-color: #7986cb;
}
.jltma-creative-button--wapasha.jltma-creative-button--inverted:hover {
  background-color: #37474f;
  color: #7986cb;
}

.jltma-creative-button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
       -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.jltma-creative-button--nuka::before, .jltma-creative-button--nuka::after {
  content: "";
  position: absolute;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  background: #7986cb;
  z-index: -1;
}
.jltma-creative-button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
          transform: scale3d(0.7, 1, 1);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.jltma-creative-button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
          transform: scale3d(1.1, 1, 1);
  transition: background-color 0.3s, -webkit-transform 0.3s;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}
.jltma-creative-button--nuka::before, .jltma-creative-button--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
       -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.jltma-creative-button--nuka:hover {
  color: #fff;
}
.jltma-creative-button--nuka:hover::before {
  opacity: 1;
}
.jltma-creative-button--nuka:hover::after {
  background-color: #37474f;
}
.jltma-creative-button--nuka:hover::before, .jltma-creative-button--nuka:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.jltma-creative-button--nuka.jltma-creative-button--inverted {
  color: #37474f;
}
.jltma-creative-button--nuka.jltma-creative-button--inverted::before, .jltma-creative-button--nuka.jltma-creative-button--inverted::after {
  background: #fff;
}
.jltma-creative-button--nuka.jltma-creative-button--inverted:hover::after {
  background-color: #7986cb;
}

.jltma-creative-button--antiman {
  background: none;
  border: none;
  height: 60px;
}
.jltma-creative-button--antiman::before, .jltma-creative-button--antiman::after {
  content: "";
  z-index: -1;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  pointer-events: none;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
.jltma-creative-button--antiman::after {
  background: #620acc;
}
.jltma-creative-button--antiman.jltma-creative-button--border-thin::before {
  border-width: 1px;
}
.jltma-creative-button--antiman.jltma-creative-button--border-medium::before {
  border-width: 2px;
}
.jltma-creative-button--antiman.jltma-creative-button--border-thick::before {
  border-width: 3px;
}
.jltma-creative-button--antiman > span {
  padding-left: 0.35em;
}
.jltma-creative-button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.jltma-creative-button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
}
.jltma-creative-button--antiman.jltma-creative-button--inverted, .jltma-creative-button--antiman.jltma-creative-button--inverted-alt {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.jltma-creative-button--antiman.jltma-creative-button--inverted::before {
  border-color: #7986cb;
}
.jltma-creative-button--antiman.jltma-creative-button--inverted::after {
  background: #7986cb;
}
.jltma-creative-button--antiman.jltma-creative-button--inverted-alt::before {
  border-color: #3f51b5;
}
.jltma-creative-button--antiman.jltma-creative-button--inverted-alt::after {
  background: #3f51b5;
}
.jltma-creative-button--antiman.jltma-creative-button--inverted:hover {
  color: #7986cb;
}
.jltma-creative-button--antiman.jltma-creative-button--inverted-alt:hover {
  color: #3f51b5;
}

.jltma-creative-button--quidel {
  background: #7986cb;
  color: #7986cb;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--quidel.jltma-creative-button--inverted {
  background: #fff;
  color: #fff;
}

.jltma-creative-button--quidel::before,
.jltma-creative-button--quidel::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-border-radius: inherit;
          border-radius: inherit;
}

.jltma-creative-button--quidel::after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
}

.jltma-creative-button--quidel.jltma-creative-button--inverted::after {
  background: #37474f;
}

.jltma-creative-button--quidel::before {
  background: #37474f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--quidel.jltma-creative-button--inverted::before {
  background: #7986cb;
}

.jltma-creative-button--round-s.jltma-creative-button--quidel::after {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.jltma-creative-button--round-m.jltma-creative-button--quidel::after {
  -webkit-border-radius: 13px;
          border-radius: 13px;
}

.jltma-creative-button--round-l.jltma-creative-button--quidel::after {
  -webkit-border-radius: 40px;
          border-radius: 40px;
}

.jltma-creative-button--quidel > span {
  padding-left: 0.35em;
}

.jltma-creative-button--quidel:hover {
  color: #37474f;
}

.jltma-creative-button--quidel.jltma-creative-button--inverted:hover {
  color: #7986cb;
}

.jltma-creative-button--quidel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.button.jltma-creative-button--shikoba {
  padding: 1em 30px 1em 50px;
  overflow: hidden;
  background: #fff;
  color: #37474f;
  border-color: #37474f;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.jltma-creative-button--shikoba.jltma-creative-button--inverted {
  color: #fff;
  background: #7986cb;
}

.jltma-creative-button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--shikoba .button__icon {
  position: absolute;
  left: 20px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
          transform: translate3d(-40px, 2.5em, 0);
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--shikoba:hover .button__icon,
.jltma-creative-button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.jltma-creative-button--shikoba:hover {
  background: #3f51b5;
  border-color: #3f51b5;
  color: #fff;
}

.jltma-creative-button--nanuk {
  padding: 0 2em;
  overflow: hidden;
  background: #7986cb;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.jltma-creative-button--nanuk.button--inverted {
  background: #fff;
  color: #7986cb;
}

.jltma-creative-button--nanuk > span {
  display: inline-block;
  padding: 1em 0;
}

.jltma-creative-button--nanuk:hover {
  background-color: #3f51b5;
}

.jltma-creative-button--nanuk:hover > span:nth-child(odd) {
  -webkit-animation: anim-nanuk-1 0.5s forwards;
          animation: anim-nanuk-1 0.5s forwards;
}

.jltma-creative-button--nanuk:hover > span:nth-child(even) {
  -webkit-animation: anim-nanuk-2 0.5s forwards;
          animation: anim-nanuk-2 0.5s forwards;
}

.jltma-creative-button--nanuk:hover > span:nth-child(odd),
.jltma-creative-button--nanuk:hover > span:nth-child(even) {
  transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}

@-webkit-keyframes anim-nanuk-1 {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes anim-nanuk-1 {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes anim-nanuk-2 {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes anim-nanuk-2 {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
.jltma-creative-button--nanuk:hover > span:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.jltma-creative-button--nanuk:hover > span:nth-child(2) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(4) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(6) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(8) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(10) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.jltma-creative-button--itzel {
  border: none;
  padding: 0;
  overflow: hidden;
  width: 255px;
}

.jltma-creative-button--itzel::before {
  content: attr(data-text);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
  clip-path: url(../index.html#clipBox);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
          transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.jltma-creative-button--itzel.jltma-creative-button--border-thin::before {
  border: 1px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
          transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.jltma-creative-button--itzel.jltma-creative-button--border-thick::before {
  border: 3px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
          transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.jltma-creative-button--itzel::before,
.jltma-creative-button--itzel .jltma-creative-button__icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--itzel .jltma-creative-button__icon {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 20px;
  font-size: 20px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.jltma-creative-button--itzel > span {
  display: block;
  padding: 20px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.jltma-creative-button--itzel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.jltma-creative-button--itzel:hover .jltma-creative-button__icon {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
}

.jltma-creative-button--itzel:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

.jltma-creative-button--naira {
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.jltma-creative-button--naira::before {
  content: attr(data-text);
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #37474f;
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
          transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}

.jltma-creative-button--naira.button--inverted::before {
  background: #7986cb;
}

.jltma-creative-button--naira-up::before {
  -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
          transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}

.jltma-creative-button--naira > span {
  display: block;
}

.jltma-creative-button--naira .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.jltma-creative-button--naira-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.jltma-creative-button--naira > span,
.jltma-creative-button--naira .button__icon {
  padding: 1em 2em;
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
          animation: anim-naira-1 0.3s forwards ease-in;
}

.jltma-creative-button--naira-up:hover::before {
  -webkit-animation: anim-naira-2 0.3s forwards ease-in;
          animation: anim-naira-2 0.3s forwards ease-in;
}

@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
            transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
            transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.jltma-creative-button--naira:hover {
  background-color: #37474f;
  -webkit-transition: background-color 0 0.3s;
  -o-transition: background-color 0 0.3s;
  transition: background-color 0 0.3s;
}

.jltma-creative-button--naira.button--inverted:hover {
  background-color: #7986cb;
}

.jltma-creative-button--naira:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.jltma-creative-button--naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.jltma-creative-button--naira-up:hover > span {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.jltma-creative-button--sacnite {
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.jltma-creative-button--scanite.jltma-creative-button--round-l {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted {
  color: #37474f;
}

.jltma-creative-button--sacnite::before {
  content: attr(data-text);
  background-color: #4b00e7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  opacity: 0;
  z-index: -1;
  -webkit-box-shadow: inset 0 0 0 35px #37474f;
          box-shadow: inset 0 0 0 35px #37474f;
  -webkit-transform: scale3d(0.6, 0.6, 0.6);
          transform: scale3d(0.6, 0.6, 0.6);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted::before {
  -webkit-box-shadow: inset 0 0 0 35px #fff;
          box-shadow: inset 0 0 0 35px #fff;
}

.jltma-creative-button--sacnite .jltma-creative-button__icon {
  font-size: 22px;
  width: 22px;
}

.jltma-creative-button--sacnite:hover {
  color: #37474f;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted:hover {
  color: #fff;
}

.jltma-creative-button--sacnite:hover::before {
  opacity: 1;
  -webkit-box-shadow: inset 0 0 0 2px #37474f;
          box-shadow: inset 0 0 0 2px #37474f;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  z-index: 1;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted:hover::before {
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}
