// Color related variables

$primarycolor: #6814cd;
$whitecolor: #fff;
$textcolor: #546e7a;
$titlecolor: #393c3f;
$grayborder: #efeff5;
$graybg: #fcfcff;

// Font related variables

$font-size: 14px;
$weight300: 300;
$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;
$weight800: 800;
$weight900: 900;

$lineheight: 20px;
$radius5p: 5px;