.jltma-creative-button--saqui::after,
.jltma-creative-button--nina::before,
.jltma-creative-button--pipaluk::after,
.jltma-creative-button--pipaluk::before,
.jltma-creative-button--wapasha::before,
.jltma-creative-button--antiman::before,
.jltma-creative-button--antiman::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.jltma-creative-button--nina::before {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.jltma-creative-button--saqui {
    overflow: hidden;
    color: #fff;
    background: #37474f;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    &::after {
        content: attr(data-text);
        padding: 1em 2em;
        background-color: #3f51b5;
        color: #37474f;
        transform-origin: -40% 50%;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        transition: transform 0.3s ease-in;
        transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    }
    &:hover {
        background-color: #7986cb;
        color: #7986cb;
        transition-timing-function: ease-out;
        &::after {
            transition-timing-function: ease-out;
        }
    }
    .jltma-creative-button--inverted {
        background: #fff;
        color: #37474f;
        &::after {
            color: #fff;
        }
        &:hover {
            background-color: #3f51b5;
            color: #3f51b5;
            &::after {
                background-color: #3f51b5;
                -webkit-transform: rotate3d(0, 0, 1, 0deg);
                transform: rotate3d(0, 0, 1, 0deg);
            }
        }
    }
}
.jltma-creative-button--isi {
    padding: 1.2em 2em;
    color: #fff;
    background: #7986cb;
    overflow: hidden;
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -15px 0 0 1px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #3f51b5;
        transform-origin: 100% 50%;
        transform: scale3d(1, 2, 1);
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
    }
    .button__icon {
        vertical-align: middle;
    }
    > span {
        vertical-align: middle;
        padding-left: 0.75em;
    }
    &:hover::before {
        transform: scale3d(9, 9, 1);
    }
}
.jltma-creative-button--nina {
    background: #7986cb;
    color: #fff;
    overflow: hidden;
    transition: background-color 0.3s;
    &::before {
        content: attr(data-text);
        opacity: 1;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    > span {
        display: inline-block;
        opacity: 0;
        color: #fff;
        transform: translate3d(0, -10px, 0);
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover {
        background-color: #3f51b5;
        &::before {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        > span {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            &:nth-child(1) {
                transition-delay: 0.045s;
            }
            &:nth-child(2) {
                transition-delay: 0.09s;
            }
            &:nth-child(3) {
                transition-delay: 0.135s;
            }
            &:nth-child(4) {
                transition-delay: 0.18s;
            }
            &:nth-child(5) {
                transition-delay: 0.225s;
            }
            &:nth-child(6) {
                transition-delay: 0.27s;
            }

            &:nth-child(7) {
                transition-delay: 0.315s;
            }

            &:nth-child(8) {
                transition-delay: 0.36s;
            }

            &:nth-child(9) {
                transition-delay: 0.405s;
            }

            &:nth-child(10) {
                transition-delay: 0.45s;
            }
        }
    }
    .button--inverted {
        background: #fff;
        color: #7986cb;
    }
    
}
.jltma-creative-button--pipaluk {
    color: #fff;
    &::before,
    &::after {
        content: "";
        border-radius: inherit;
        opacity: 1;
        z-index: -1;
        transition: background-color 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, background-color 0.3s;
        transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
    }
    &::before {
        border: 2px solid #7986cb;
    }
    &::after {
        background: #7986cb;
    }
    &::before,
    &:hover::after {
        transform: scale3d(0.7, 0.7, 1);
    }
    &:hover {
        &::before {
            transform: scale3d(1, 1, 1);
        }
        &::after {
            background-color: #3f51b5;
        }
    }
    &.jltma-creative-button--inverted {
        color: #7986cb;
        &::before {
            border-color: #fff;
        }
        &::after {
            background: #fff;
        }
        &:hover::after {
            background-color: #fff;
        }
    }
}
.jltma-creative-button--moema {
    border-radius: 50px;
    background: #7986cb;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background: inherit;
        border-radius: 50px;
        z-index: -1;
        opacity: 0.4;
        transform: scale3d(0.8, 0.5, 1);
    }
    &:hover {
        background-color: #3f51b5;
        color: #eceff1;
        animation: anim-moema-1 0.3s forwards;
        transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        &::before {
            animation: anim-moema-2 0.3s 0.3s forwards;
        }
    }
    &.jltma-creative-button--inverted {
        background: #eceff1;
        color: #37474f;
        &:hover {
            color: #eceff1;
            background-color: #7986cb;
        }
    }
}
@keyframes anim-moema-1 {
    60% {
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-moema-2 {
    to {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
}
.jltma-creative-button--aylen {
    background: #fff;
    color: #37474f;
    overflow: hidden;
    transition: color 0.3s;
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: -1;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &::before {
        background: #7986cb;
    }
    &::after {
        background: #3f51b5;
    }
    &:hover {
        color: #fff;
        &::before,
        &:hover::after {
            transform: translate3d(0, 100%, 0);
        }
        ::after {
            transition-delay: 0.175s;
        }
    }
    &.jltma-creative-button--inverted {
        background: none;
        color: #fff;
    }
}
.jltma-creative-button--wapasha {
    background: #37474f;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    &::before {
        content: "";
        border: 2px solid #3f51b5;
        z-index: -1;
        border-radius: inherit;
        transform: scale3d(0.6, 0.6, 1);
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover {
        background-color: #fff;
        color: #3f51b5;
        &::before {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }
    &.jltma-creative-button--inverted {
        background: #fff;
        color: #37474f;
        &::before {
            border-color: #7986cb;
        }
        &:hover {
            background-color: #37474f;
            color: #7986cb;
        }
    }
}
.jltma-creative-button--nuka {
    margin: 1em 2em;
    transition: color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        background: #7986cb;
        z-index: -1;
    }
    &::before {
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        opacity: 0.2;
        transform: scale3d(0.7, 1, 1);
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    }
    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale3d(1.1, 1, 1);
        transition: background-color 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, background-color 0.3s;
        transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    }
    &::before,
    &::after {
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
        color: #fff;
        &::before {
            opacity: 1;
        }
        &::after {
            background-color: #37474f;
        }
        &::before,
        &::after {
            transform: scale3d(1, 1, 1);
        }
    }
    &.jltma-creative-button--inverted {
        color: #37474f;
        &::before,
        &::after {
            background: #fff;
        }     
        &:hover::after {
            background-color: #7986cb;
        }
    }
}
.jltma-creative-button--antiman {
    background: none;
    border: none;
    height: 60px;
    &::before,
    &::after {
        content: "";
        z-index: -1;
        border-radius: inherit;
        pointer-events: none;
        opacity: 1;
        -webkit-backface-visibility: hidden;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &::before {
        border: 2px solid #37474f;
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
    &::after {
        background: #620acc;
    }
    &.jltma-creative-button--border-thin::before {
        border-width: 1px;
    }
    &.jltma-creative-button--border-medium::before {
        border-width: 2px;
    }
    &.jltma-creative-button--border-thick::before {
        border-width: 3px;
    }
    > span {
        padding-left: 0.35em;
    }
    &:hover {
        &::before {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        &::after {
            opacity: 0;
            transform: scale3d(0.8, 0.8, 1);
        }
    }
    &.jltma-creative-button--inverted,
    &.jltma-creative-button--inverted-alt {
        transition: color 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &.jltma-creative-button--inverted::before {
        border-color: #7986cb;
    }
    &.jltma-creative-button--inverted::after {
        background: #7986cb;
    }
    &.jltma-creative-button--inverted-alt::before {
        border-color: #3f51b5;
    }
    &.jltma-creative-button--inverted-alt::after {
        background: #3f51b5;
    }
    &.jltma-creative-button--inverted:hover {
        color: #7986cb;
    }
    &.jltma-creative-button--inverted-alt:hover {
        color: #3f51b5;
    }
}

.jltma-creative-button--quidel {
    background: #7986cb;
    color: #7986cb;
    overflow: hidden;
    transition: color 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--quidel.jltma-creative-button--inverted {
    background: #fff;
    color: #fff;
}

.jltma-creative-button--quidel::before,
.jltma-creative-button--quidel::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
}

.jltma-creative-button--quidel::after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #fff;
}

.jltma-creative-button--quidel.jltma-creative-button--inverted::after {
    background: #37474f;
}

.jltma-creative-button--quidel::before {
    background: #37474f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 100%, 0);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--quidel.jltma-creative-button--inverted::before {
    background: #7986cb;
}

.jltma-creative-button--round-s.jltma-creative-button--quidel::after {
    border-radius: 3px;
}

.jltma-creative-button--round-m.jltma-creative-button--quidel::after {
    border-radius: 13px;
}

.jltma-creative-button--round-l.jltma-creative-button--quidel::after {
    border-radius: 40px;
}

.jltma-creative-button--quidel > span {
    padding-left: 0.35em;
}

.jltma-creative-button--quidel:hover {
    color: #37474f;
}

.jltma-creative-button--quidel.jltma-creative-button--inverted:hover {
    color: #7986cb;
}

.jltma-creative-button--quidel:hover::before {
    transform: translate3d(0, 0, 0);
}

.button.jltma-creative-button--shikoba {
    padding: 1em 30px 1em 50px;
    overflow: hidden;
    background: #fff;
    color: #37474f;
    border-color: #37474f;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.jltma-creative-button--shikoba.jltma-creative-button--inverted {
    color: #fff;
    background: #7986cb;
}

.jltma-creative-button--shikoba > span {
    display: inline-block;
    transform: translate3d(-10px, 0, 0);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--shikoba .button__icon {
    position: absolute;
    left: 20px;
    font-size: 18px;
    transform: translate3d(-40px, 2.5em, 0);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--shikoba:hover .button__icon,
.jltma-creative-button--shikoba:hover > span {
    transform: translate3d(0, 0, 0);
}

.jltma-creative-button--shikoba:hover {
    background: #3f51b5;
    border-color: #3f51b5;
    color: #fff;
}

.jltma-creative-button--nanuk {
    padding: 0 2em;
    overflow: hidden;
    background: #7986cb;
    transition: background-color 0.3s;
}

.jltma-creative-button--nanuk.button--inverted {
    background: #fff;
    color: #7986cb;
}

.jltma-creative-button--nanuk > span {
    display: inline-block;
    padding: 1em 0;
}

.jltma-creative-button--nanuk:hover {
    background-color: #3f51b5;
}

.jltma-creative-button--nanuk:hover > span:nth-child(odd) {
    animation: anim-nanuk-1 0.5s forwards;
}

.jltma-creative-button--nanuk:hover > span:nth-child(even) {
    animation: anim-nanuk-2 0.5s forwards;
}

.jltma-creative-button--nanuk:hover > span:nth-child(odd),
.jltma-creative-button--nanuk:hover > span:nth-child(even) {
    transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}

@-webkit-keyframes anim-nanuk-1 {
    0%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}
@keyframes anim-nanuk-1 {
    0%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}
@-webkit-keyframes anim-nanuk-2 {
    0%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}
@keyframes anim-nanuk-2 {
    0%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}
.jltma-creative-button--nanuk:hover > span:nth-child(1) {
    animation-delay: 0;
}

.jltma-creative-button--nanuk:hover > span:nth-child(2) {
    animation-delay: 0.05s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(3) {
    animation-delay: 0.1s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(4) {
    animation-delay: 0.15s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(5) {
    animation-delay: 0.2s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(6) {
    animation-delay: 0.25s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(7) {
    animation-delay: 0.3s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(8) {
    animation-delay: 0.35s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(9) {
    animation-delay: 0.4s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(10) {
    animation-delay: 0.45s;
}

.jltma-creative-button--nanuk:hover > span:nth-child(11) {
    animation-delay: 0.5s;
}

.jltma-creative-button--itzel {
    border: none;
    padding: 0;
    overflow: hidden;
    width: 255px;
}

.jltma-creative-button--itzel::before {
    content: attr(data-text);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: inherit;
    -webkit-clip-path: polygon(
        0% 0%,
        0% 100%,
        35% 100%,
        35% 60%,
        65% 60%,
        65% 100%,
        100% 100%,
        100% 0%
    );
    clip-path: url(../index.html#clipBox);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform-origin: 50% 100%;
}

.jltma-creative-button--itzel.jltma-creative-button--border-thin::before {
    border: 1px solid;
    transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.jltma-creative-button--itzel.jltma-creative-button--border-thick::before {
    border: 3px solid;
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.jltma-creative-button--itzel::before,
.jltma-creative-button--itzel .jltma-creative-button__icon {
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--itzel .jltma-creative-button__icon {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 20px;
    font-size: 20px;
    transform: translate3d(-50%, 0, 0);
}

.jltma-creative-button--itzel > span {
    display: block;
    padding: 20px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition-delay: 0.3s;
}

.jltma-creative-button--itzel:hover::before {
    transform: translate3d(0, 0, 0);
}

.jltma-creative-button--itzel:hover .jltma-creative-button__icon {
    transition-delay: 0.1s;
    transform: translate3d(-50%, -100%, 0);
}

.jltma-creative-button--itzel:hover > span {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition-delay: 0;
}

.jltma-creative-button--naira {
    padding: 0;
    overflow: hidden;
    transition: background-color 0.3s;
}

.jltma-creative-button--naira::before {
    content: attr(data-text);
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #37474f;
    top: -50%;
    z-index: -1;
    transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}

.jltma-creative-button--naira.button--inverted::before {
    background: #7986cb;
}

.jltma-creative-button--naira-up::before {
    transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}

.jltma-creative-button--naira > span {
    display: block;
}

.jltma-creative-button--naira .button__icon {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    color: #fff;
    transform: translate3d(0, -100%, 0);
}

.jltma-creative-button--naira-up .button__icon {
    transform: translate3d(0, 100%, 0);
}

.jltma-creative-button--naira > span,
.jltma-creative-button--naira .button__icon {
    padding: 1em 2em;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.jltma-creative-button--naira:hover::before {
    animation: anim-naira-1 0.3s forwards ease-in;
}

.jltma-creative-button--naira-up:hover::before {
    animation: anim-naira-2 0.3s forwards ease-in;
}

@-webkit-keyframes anim-naira-1 {
    50% {
        transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes anim-naira-1 {
    50% {
        transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}
@-webkit-keyframes anim-naira-2 {
    50% {
        transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes anim-naira-2 {
    50% {
        transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}
.jltma-creative-button--naira:hover {
    background-color: #37474f;
    transition: background-color 0 0.3s;
}

.jltma-creative-button--naira.button--inverted:hover {
    background-color: #7986cb;
}

.jltma-creative-button--naira:hover .button__icon {
    transform: translate3d(0, 0, 0);
}

.jltma-creative-button--naira:hover > span {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.jltma-creative-button--naira-up:hover > span {
    transform: translate3d(0, -100%, 0);
}

.jltma-creative-button--sacnite {
    color: #fff;
    transition: color 0.3s;
}

.jltma-creative-button--scanite.jltma-creative-button--round-l {
    border-radius: 50%;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted {
    color: #37474f;
}

.jltma-creative-button--sacnite::before {
    content: attr(data-text);
    background-color: #4b00e7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #37474f;
    transform: scale3d(0.6, 0.6, 0.6);
    transition: all 0.3s ease;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted::before {
    box-shadow: inset 0 0 0 35px #fff;
}

.jltma-creative-button--sacnite .jltma-creative-button__icon {
    font-size: 22px;
    width: 22px;
}

.jltma-creative-button--sacnite:hover {
    color: #37474f;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted:hover {
    color: #fff;
}

.jltma-creative-button--sacnite:hover::before {
    opacity: 1;
    box-shadow: inset 0 0 0 2px #37474f;
    transform: scale3d(1, 1, 1);
    z-index: 1;
}

.jltma-creative-button--sacnite.jltma-creative-button--inverted:hover::before {
    box-shadow: inset 0 0 0 2px #fff;
}
