/*
* Master Addons Elementor Styles
 */

/* Accordion */
.ma-advanced-accordion {
    width: auto;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.ma-advanced-accordion .ma-accordion-tab-title {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }

.ma-advanced-accordion .ma-accordion-tab-title .ma-accordion-toggle-icon {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.ma-advanced-accordion .ma-accordion-tab-title.ma-accordion-tab-active .ma-accordion-toggle-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.fa-accordion-icon {
    display: inline-block;
    margin-right: 10px; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content {
    display: none;
    border: 1px solid #eee;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.7; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content p {
    margin: 0; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content.ma-accordion-tab-active {
    display: block; }