.jltma-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.jltma-col,
.jltma-col-1,
.jltma-col-2,
.jltma-col-3,
.jltma-col-4,
.jltma-col-5,
.jltma-col-6,
.jltma-col-7,
.jltma-col-8,
.jltma-col-9,
.jltma-col-10,
.jltma-col-11,
.jltma-col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.jltma-col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.jltma-col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.jltma-col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.jltma-col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.jltma-col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.jltma-col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.jltma-col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.jltma-col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.jltma-col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.jltma-col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.jltma-col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.jltma-col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .jltma-col {
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0%;
            flex-basis: 0%;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    max-width: 100%;
  }

  .jltma-col-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .jltma-col-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .jltma-col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .jltma-col-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .jltma-col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .jltma-col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .jltma-col-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .jltma-col-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .jltma-col-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .jltma-col-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .jltma-col-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .jltma-col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.jltma-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.jltma-media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jltma-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.jltma-btn:hover {
  color: #212529;
  text-decoration: none;
}

.jltma-btn.focus,
.jltma-btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.jltma-btn.disabled,
.jltma-btn:disabled {
  opacity: 0.65;
}

a.jltma-btn.disabled,
fieldset:disabled a.jltma-btn {
  pointer-events: none;
}

.jltma-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.jltma-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.jltma-btn-primary.focus,
.jltma-btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.jltma-btn-primary.disabled,
.jltma-btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.jltma-btn-primary:not(:disabled):not(.disabled).active,
.jltma-btn-primary:not(:disabled):not(.disabled):active,
.show > .jltma-btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.jltma-btn-primary:not(:disabled):not(.disabled).active:focus,
.jltma-btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.jltma-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.jltma-btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.jltma-btn-secondary.focus,
.jltma-btn-secondary:focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.jltma-btn-secondary.disabled,
.jltma-btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.jltma-btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .jltma-btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.jltma-btn-secondary:not(:disabled):not(.disabled).active:focus,
.jltma-btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.jltma-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.jltma-btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.jltma-btn-success.focus,
.jltma-btn-success:focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.jltma-btn-success.disabled,
.jltma-btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.jltma-btn-success:not(:disabled):not(.disabled).active,
.jltma-btn-success:not(:disabled):not(.disabled):active,
.show > .jltma-btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.jltma-btn-success:not(:disabled):not(.disabled).active:focus,
.jltma-btn-success:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.jltma-btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.jltma-btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.jltma-btn-info.focus,
.jltma-btn-info:focus {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.jltma-btn-info.disabled,
.jltma-btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.jltma-btn-info:not(:disabled):not(.disabled).active,
.jltma-btn-info:not(:disabled):not(.disabled):active,
.show > .jltma-btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.jltma-btn-info:not(:disabled):not(.disabled).active:focus,
.jltma-btn-info:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.jltma-btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.jltma-btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.jltma-btn-warning.focus,
.jltma-btn-warning:focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.jltma-btn-warning.disabled,
.jltma-btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.jltma-btn-warning:not(:disabled):not(.disabled).active,
.jltma-btn-warning:not(:disabled):not(.disabled):active,
.show > .jltma-btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.jltma-btn-warning:not(:disabled):not(.disabled).active:focus,
.jltma-btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.jltma-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.jltma-btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.jltma-btn-danger.focus,
.jltma-btn-danger:focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.jltma-btn-danger.disabled,
.jltma-btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.jltma-btn-danger:not(:disabled):not(.disabled).active,
.jltma-btn-danger:not(:disabled):not(.disabled):active,
.show > .jltma-btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.jltma-btn-danger:not(:disabled):not(.disabled).active:focus,
.jltma-btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .jltma-btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.jltma-animated-headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.jltma-animated-headline .jltma-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.jltma-animated-headline .jltma-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.jltma-animated-headline .jltma-words-wrapper b.is-visible {
  position: relative;
}
.jltma-animated-headline .first-heading {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.jltma-animated-headline.scale .first-heading, .jltma-animated-headline.push .first-heading, .jltma-animated-headline.rotate-3 .first-heading, .jltma-animated-headline.rotate-1 .first-heading, .jltma-animated-headline.rotate-2 .first-heading, .jltma-animated-headline.zoom .first-heading, .jltma-animated-headline.type .first-heading {
  padding: 0 0.25em;
}
.jltma-animated-headline.rotate-1 .jltma-words-wrapper, .jltma-animated-headline.rotate-2 .jltma-words-wrapper, .jltma-animated-headline.rotate-3 .jltma-words-wrapper, .jltma-animated-headline.zoom .jltma-words-wrapper {
  -webkit-perspective: 300px;
          perspective: 300px;
}
.jltma-animated-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.jltma-animated-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-animation: jltma-rotate-1-in 1.2s;
          animation: jltma-rotate-1-in 1.2s;
}
.jltma-animated-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-animation: jltma-rotate-1-out 1.2s;
          animation: jltma-rotate-1-out 1.2s;
}
.jltma-animated-headline.rotate-2 b {
  opacity: 0;
}
.jltma-animated-headline.rotate-2 i {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
          transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}
.jltma-animated-headline.rotate-2 i.in {
  -webkit-animation: jltma-rotate-2-in 0.4s forwards;
          animation: jltma-rotate-2-in 0.4s forwards;
}
.jltma-animated-headline.rotate-2 i.out {
  -webkit-animation: jltma-rotate-2-out 0.4s forwards;
          animation: jltma-rotate-2-out 0.4s forwards;
}
.jltma-animated-headline.rotate-2 em {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}
.jltma-animated-headline.rotate-3 b {
  opacity: 0;
}
.jltma-animated-headline.rotate-3 i {
  display: inline-block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.jltma-animated-headline.rotate-3 i.in {
  -webkit-animation: jltma-rotate-3-in 0.6s forwards;
          animation: jltma-rotate-3-in 0.6s forwards;
}
.jltma-animated-headline.rotate-3 i.out {
  -webkit-animation: jltma-rotate-3-out 0.6s forwards;
          animation: jltma-rotate-3-out 0.6s forwards;
}
.jltma-animated-headline.type .jltma-words-wrapper {
  vertical-align: text-bottom;
  overflow: hidden;
}
.jltma-animated-headline.type .jltma-words-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.jltma-animated-headline.type .jltma-words-wrapper.waiting::after {
  -webkit-animation: jltma-pulse 1s infinite;
          animation: jltma-pulse 1s infinite;
}
.jltma-animated-headline.type .jltma-words-wrapper.selected {
  background-color: #aebcb9;
}
.jltma-animated-headline.type .jltma-words-wrapper.selected::after {
  visibility: hidden;
}
.jltma-animated-headline.type .jltma-words-wrapper.selected b {
  color: #0d0d0d;
}
.jltma-animated-headline.type b {
  visibility: hidden;
}
.jltma-animated-headline.type b.is-visible {
  visibility: visible;
}
.jltma-animated-headline.type i {
  position: absolute;
  visibility: hidden;
}
.jltma-animated-headline.type i.in {
  position: relative;
  visibility: visible;
}
.jltma-animated-headline.loading-bar span {
  display: inline-block;
  padding: 0 0.25em;
}
.jltma-animated-headline.loading-bar .jltma-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  padding: 0;
}
.jltma-animated-headline.loading-bar .jltma-words-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #0096a7;
  z-index: 2;
  -webkit-transition: width 0.3s -0.1s;
  -o-transition: width 0.3s -0.1s;
  transition: width 0.3s -0.1s;
}
.jltma-animated-headline.loading-bar .jltma-words-wrapper.is-loading::after {
  width: 100%;
  -webkit-transition: width 3s;
  -o-transition: width 3s;
  transition: width 3s;
}
.jltma-animated-headline.loading-bar b {
  top: 0.2em;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.jltma-animated-headline.loading-bar b.is-visible {
  opacity: 1;
  top: 0;
}
.jltma-animated-headline.slide span {
  display: inline-block;
  padding: 0 0.25em;
}
.jltma-animated-headline.slide .jltma-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  padding: 0;
}
.jltma-animated-headline.slide b {
  opacity: 0;
  top: 0.2em;
}
.jltma-animated-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
          animation: slide-in 0.6s;
}
.jltma-animated-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
          animation: slide-out 0.6s;
}
.jltma-animated-headline.clip span {
  display: inline-block;
  padding: 0 0.25em;
}
.jltma-animated-headline.clip .jltma-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  padding: 0;
}
.jltma-animated-headline.clip .jltma-words-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.jltma-animated-headline.clip b {
  opacity: 0;
}
.jltma-animated-headline.clip b .is-visible {
  opacity: 1;
}
.jltma-animated-headline.zoom b {
  opacity: 0;
}
.jltma-animated-headline.zoom b.is-visible {
  opacity: 1;
  -webkit-animation: zoom-in 0.8s;
          animation: zoom-in 0.8s;
}
.jltma-animated-headline.zoom b.is-hidden {
  -webkit-animation: zoom-out 0.8s;
          animation: zoom-out 0.8s;
}
.jltma-animated-headline.scale b {
  opacity: 0;
}
.jltma-animated-headline.scale b i {
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.jltma-animated-headline.scale b i.in {
  -webkit-animation: scale-up 0.6s forwards;
          animation: scale-up 0.6s forwards;
}
.jltma-animated-headline.scale b i.out {
  -webkit-animation: scale-down 0.6s forwards;
          animation: scale-down 0.6s forwards;
}
.jltma-animated-headline.push b {
  opacity: 0;
}
.jltma-animated-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
          animation: push-in 0.6s;
}
.jltma-animated-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
          animation: push-out 0.6s;
}

.is-visible .jltma-animated-headline.scale i {
  opacity: 1;
}
.is-visible .jltma-animated-headline.rotate-2 i {
  opacity: 1;
}
.is-visible .jltma-animated-headline.rotate-3 i {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.no-csstransitions .jltma-animated-headline.scale i {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0;
}
.no-csstransitions .jltma-animated-headline.scale .is-visible i {
  opacity: 1;
}
.no-csstransitions .jltma-animated-headline.rotate-2 i {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .jltma-animated-headline.rotate-2 i em {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.no-csstransitions .jltma-animated-headline.rotate-2 i .is-visible i {
  opacity: 1;
}
.no-csstransitions .jltma-animated-headline.rotate-3 i {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 0;
}
.no-csstransitions .jltma-animated-headline.rotate-3 .is-visible i {
  opacity: 1;
}

.no-js .jltma-words-wrapper b {
  opacity: 0;
}
.no-js .jltma-words-wrapper b.is-visible {
  opacity: 1;
}

/* Key Frames */
@-webkit-keyframes jltma-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
            transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes jltma-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
            transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes jltma-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
            transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes jltma-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
            transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes jltma-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes jltma-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes jltma-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
            transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
            transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
            transform: translateZ(-20px) rotateX(0deg);
  }
}
@keyframes jltma-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
            transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
            transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
            transform: translateZ(-20px) rotateX(0deg);
  }
}
@-webkit-keyframes jltma-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
            transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
            transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
            transform: translateZ(-20px) rotateX(-90deg);
  }
}
@keyframes jltma-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
            transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
            transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
            transform: translateZ(-20px) rotateX(-90deg);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes jltma-rotate-3-in {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes jltma-rotate-3-in {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@-webkit-keyframes jltma-rotate-3-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes jltma-rotate-3-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes zoom-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
}
@keyframes zoom-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
}
@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.jltma-call-action-content {
  padding: 70px 0;
}
.jltma-call-action-content .jltma-row {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.jltma-call-action-content .jltma-call-action-title {
  font-size: 1.75rem;
  margin-bottom: 1.125rem;
}
.jltma-call-action-content .jltma-call-action-description {
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
}
.jltma-call-action-content .jltma-call-action-btn {
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 55px;
  padding: 0 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.jltma-call-action-content .jltma-call-action-btn:hover {
  background: #8dc63f;
  color: #fff;
}

.style-02 .jltma-call-action-content .jltma-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}
.style-02 .jltma-call-action-content .jltma-call-action-title {
  color: #fff;
}
.style-02 .jltma-call-action-content [class*=col] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.style-02 .jltma-call-action-content .jltma-call-action-btn {
  margin-top: 40px;
}

.style-03 .jltma-call-action-content .jltma-row {
  border-left: 10px solid #4b00e7;
  padding-left: 1rem;
}

.style-04 .jltma-call-action-content .jltma-row {
  border-left: 5px solid #f0f2f4;
  border-right: 5px solid #f0f2f4;
  padding: 2.25rem 1.25rem;
}

.style-05 .jltma-call-action-content {
  background: #4b00e7;
}
.style-05 .jltma-call-action-content .jltma-row {
  padding: 0 1.75rem;
}
.style-05 .jltma-call-action-content .jltma-call-action-title,
.style-05 .jltma-call-action-content .jltma-call-action-description {
  color: #fff;
}
.style-05 .jltma-call-action-content .jltma-call-action-btn {
  background-color: #fff;
  color: #4b00e7;
}

.style-06 .jltma-call-action-content .jltma-row,
.style-07 .jltma-call-action-content .jltma-row {
  padding: 0 3.5rem;
}
.style-06 .jltma-call-action-content .jltma-call-action-btn,
.style-07 .jltma-call-action-content .jltma-call-action-btn {
  border: 2px solid #fff;
  color: #fff;
}

.style-07 .media-left {
  margin-right: 1.875rem;
}
.style-07 .jltma-call-action-content i {
  color: #fff;
  font-size: 4rem;
}

.jltma-dual-heading .jltma-dual-heading-wrapper {
  padding: 5px;
  text-align: center;
}
.jltma-dual-heading .jltma-dual-heading-wrapper .jltma-dual-heading-description {
  font-size: 15px;
  line-height: 26px;
  margin: 30px 0 0 0;
  padding: 10px;
}
.jltma-dual-heading .jltma-dual-heading-wrapper .jltma-dual-heading-icon {
  display: inline-block;
  font-size: 36px;
}
.jltma-dual-heading .jltma-dual-heading-wrapper .jltma-dual-heading-title {
  margin-top: 30px;
}
.jltma-dual-heading .jltma-dual-heading-wrapper .jltma-dual-heading-title,
.jltma-dual-heading .jltma-dual-heading-wrapper .jltma-dual-heading-title a {
  font-size: 30px;
  color: #132c47;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.jltma-sec-head-container {
  overflow: hidden;
}
.jltma-sec-head-container .jltma-sec-head-style {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.jltma-sec-head-container .jltma-sec-head-style:after {
  content: "";
  height: 140px;
  width: 200%;
  background-color: #1fb5ac;
  position: absolute;
  top: 0;
  left: -200%;
  margin-left: -15px;
}
.jltma-sec-head-container .jltma-section-title {
  color: #1a1a1a;
  font-size: 5.25em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.97em;
  -webkit-text-stroke: 0.3px;
  padding: 0;
  margin: 0;
  float: left;
}
.jltma-sec-head-container .jltma-section-title span {
  color: #1fb5ac;
}
.jltma-sec-head-container .jltma-section-description {
  color: #404040;
  font-size: 1.375em;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.2px;
}

.jltma-advanced-accordion {
  width: auto;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.jltma-advanced-accordion .jltma-accordion-item {
  margin-bottom: 10px;
}
.jltma-advanced-accordion .jltma-accordion-title-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.jltma-advanced-accordion .jltma-accordion-icon-align-right .jltma-accordion-tab-icon {
  padding: 0 0 0 1.25em;
}
.jltma-advanced-accordion .jltma-accordion-icon-align-left .jltma-accordion-tab-title {
  padding: 15px;
}
.jltma-advanced-accordion .jltma-accordion-tab-title {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 15px;
}
.jltma-advanced-accordion .jltma-accordion-tab-title:focus {
  outline: 0;
}
.jltma-advanced-accordion .jltma-accordion-tab-title .jltma-accordion-toggle-icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: relative;
  text-align: center;
}
.jltma-advanced-accordion .jltma-accordion-tab-title .jltma-accordion-toggle-icon i {
  line-height: 20px;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.jltma-advanced-accordion .jltma-accordion-tab-title .jltma-accordion-toggle-icon i.jltma-el-accordion-icon-opened {
  display: block;
}
.jltma-advanced-accordion .jltma-accordion-tab-title .jltma-accordion-toggle-icon i.jltma-el-accordion-icon-closed {
  display: none;
}
.jltma-advanced-accordion .jltma-accordion-tab-title.active .jltma-accordion-toggle-icon i.jltma-el-accordion-icon-opened {
  display: none;
}
.jltma-advanced-accordion .jltma-accordion-tab-title.active .jltma-accordion-toggle-icon i.jltma-el-accordion-icon-closed {
  display: block;
}
.jltma-advanced-accordion .jltma-accordion-tab-title.active .jltma-accordion-tab-icon {
  background: #4b00e7;
}
.jltma-advanced-accordion .jltma-accordion-tab-title.show.active + .jltma-accordion-tab-content {
  opacity: 1;
  padding: 1.5rem;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.jltma-advanced-accordion .jltma-accordion-tab-title.show.active + .jltma-accordion-tab-content p {
  opacity: 1;
}
.jltma-advanced-accordion .jltma-accordion-tab-title .jltma-accordion-tab-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.jltma-advanced-accordion .jltma-accordion-tab-content {
  display: none;
  padding: 1.5rem;
  opacity: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.jltma-advanced-accordion .jltma-accordion-tab-content p {
  color: #78909c;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.jltma-advanced-accordion .jltma-accordion-icon-align-left .jltma-accordion-tab-title .jltma-accordion-toggle-icon {
  margin-right: 20px;
}

.jltma-advance-tab.two .jltma-advance-tab-nav {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.jltma-advance-tab.two .jltma-advance-tab-nav li {
  position: relative;
  padding: 1em 1.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
}
.jltma-advance-tab.two .jltma-advance-tab-nav li span {
  color: #8a8d91;
}
.jltma-advance-tab.two .jltma-advance-tab-nav li.active {
  border-bottom: 1px solid #704aff;
}
.jltma-advance-tab.two .jltma-advance-tab-nav li.active span {
  color: #0a1724;
}
.jltma-advance-tab.two .jltma-advance-tab-content {
  display: none;
  margin-top: 0;
  position: relative;
}
.jltma-advance-tab.two .jltma-advance-tab-content .jltma-advance-tab-content-title {
  font-size: 40px;
  color: #0a1724;
  margin: 0;
}
.jltma-advance-tab.two .jltma-advance-tab-content p {
  font-size: 1em;
}
.jltma-advance-tab.two .jltma-advance-tab-content.active {
  display: inherit;
}

.jltma-advance-tab.three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.jltma-advance-tab.three .jltma-advance-tab-nav {
  width: 26%;
  margin: 0 4% 0 0;
  padding: 0;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li {
  list-style: none;
  background: #fff;
  padding: 25px 40px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-left-color: #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li span {
  color: #0a1724;
  font-size: 16px;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li i {
  margin-right: 15px;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li.active {
  -webkit-box-shadow: 0px 30px 40px 0px rgba(5, 9, 42, 0.08);
          box-shadow: 0px 30px 40px 0px rgba(5, 9, 42, 0.08);
}
.jltma-advance-tab.three .jltma-advance-tab-nav li.active::before {
  opacity: 1;
}
.jltma-advance-tab.three .jltma-advance-tab-nav li.active span {
  color: #4ecad2;
}
.jltma-advance-tab.three .jltma-advance-tab-content {
  display: none;
  background: #fff;
  padding: 60px 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 70%;
}
.jltma-advance-tab.three .jltma-advance-tab-content .jltma-advance-tab-content-title {
  font-size: 30px;
  color: #0a1724;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.jltma-advance-tab.three .jltma-advance-tab-content .jltma-advance-tab-content-description {
  font-size: 15px;
  line-height: 26px;
  margin: 25px 0 50px 0;
}
.jltma-advance-tab.three .jltma-advance-tab-content.active {
  display: block;
}

.jltma-advance-tab.four {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.jltma-advance-tab.four .jltma-advance-tab-nav {
  width: 30%;
  margin: 0;
  padding: 0;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li {
  list-style: none;
  background: #f0f1f2;
  padding: 25px 40px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li::before {
  position: absolute;
  content: "";
  width: -webkit-calc(100% + 11px);
  width: calc(100% + 11px);
  height: 0;
  background: #fff;
  top: 0;
  left: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li::after {
  position: absolute;
  content: "";
  height: 0;
  width: 3px;
  background: #36d3ac;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li span {
  font-size: 16px;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li span i {
  margin-right: 10px;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li.active {
  background: #fff;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li.active::before {
  opacity: 1;
  z-index: -1;
  border-width: 1px 0 1px 1px;
  border-color: #f0f1f2;
  border-style: solid;
  height: 100%;
}
.jltma-advance-tab.four .jltma-advance-tab-nav li.active::after {
  opacity: 1;
  -webkit-transform: translateY(1);
  -ms-transform: translateY(1);
      transform: translateY(1);
  height: 100%;
}
.jltma-advance-tab.four .jltma-advance-tab-content {
  display: none;
  width: 70%;
  border: 1px solid #f0f1f2;
  padding: 30px 25px;
}
.jltma-advance-tab.four .jltma-advance-tab-content .jltma-advance-tab-content-title {
  font-size: 24px;
  color: #0a1724;
  font-weight: 400;
  margin: 0;
}
.jltma-advance-tab.four .jltma-advance-tab-content .jltma-advance-tab-content-description {
  font-size: 15px;
  line-height: 26px;
  margin: 30px 0 40px 0;
}
.jltma-advance-tab.four .jltma-advance-tab-content.active {
  display: block;
}

/* Tabular Content */
.jltma-advance-tab.five .jltma-advance-tab-nav {
  border-bottom: none;
}
.jltma-advance-tab.five .jltma-advance-tab-nav li {
  background: #f2f2f2;
  border: 2px solid #f2f2f2 !important;
  color: #272727;
  border: 1px solid #f2f2f2;
  font-family: "Abel";
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 5px 5px 0;
  display: inline-block;
  text-align: center;
  padding: 25px;
  width: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jltma-advance-tab.five .jltma-advance-tab-nav li:hover {
  background: transparent;
}
.jltma-advance-tab.five .jltma-advance-tab-nav li i {
  color: #cccccc;
  display: block;
  font-size: 50px;
  margin-bottom: 15px;
}
.jltma-advance-tab.five .jltma-advance-tab-content {
  display: none;
  padding-left: 60px;
}
.jltma-advance-tab.five .jltma-advance-tab-content.active {
  display: block;
}
.jltma-advance-tab.five .jltma-btn {
  margin-top: 35px;
}

@media only screen and (max-width: 768px) {
  .jltma-advance-tab.two .jltma-advance-tab-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .jltma-advance-tab.three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .jltma-advance-tab.three .jltma-advance-tab-nav {
    width: 100%;
  }

  .jltma-advance-tab.three .jltma-advance-tab-content {
    width: 100%;
  }

  .jltma-advance-tab.three .jltma-advance-tab-nav li.active::before {
    opacity: 0;
  }

  .jltma-advance-tab.four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .jltma-advance-tab.four .jltma-advance-tab-nav {
    width: 100%;
  }

  .jltma-advance-tab.four .jltma-advance-tab-content {
    width: 100%;
  }

  .jltma-advance-tab.four .jltma-advance-tab-nav li.active::before {
    border-width: 1px 1px 1px 1px;
  }
}
@-webkit-keyframes jltma_fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jltma_fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.jltma-tooltip {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jltma-tooltip .jltma-tooltip-item {
  position: relative;
}

.jltma-tooltip .jltma-tooltip-content-text {
  line-height: 0.5;
}

.jltma-tooltip-align-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jltma-tooltip-align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jltma-tooltip-align-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jltma-tooltip .jltma-tooltip-item .jltma-tooltip-content {
  cursor: pointer;
  line-height: 0.6;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jltma-tooltip .jltma-tooltip-item .jltma-tooltip-content a img {
  margin: 0 auto;
}

.jltma-tooltip .jltma-tooltip-item .jltma-tooltip-text {
  position: absolute;
  min-width: 150px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-weight: 300;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.jltma-tooltip .jltma-tooltip-item .jltma-tooltip-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.jltma-tooltip .jltma-tooltip-item .jltma-tooltip-content:hover {
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.13);
}

.jltma-tooltip .jltma-tooltip-item.tooltip-left .jltma-tooltip-content:hover ~ .jltma-tooltip-text {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-left .jltma-tooltip-text {
  top: 50%;
  right: -webkit-calc(100% + 1em);
  right: calc(100% + 1em);
  -webkit-transform: translate3d(-15px, -50%, 0);
  transform: translate3d(-15px, -50%, 0);
}

.jltma-tooltip .jltma-tooltip-item.tooltip-left .jltma-tooltip-text:after {
  top: 50%;
  right: -0.5em;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0 0.5em 0.5em;
  border-color: transparent transparent transparent #f9f9f9;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-bottom:hover .jltma-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.jltma-tooltip .jltma-tooltip-item.tooltip-bottom .jltma-tooltip-content:hover ~ .jltma-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-bottom .jltma-tooltip-text {
  top: -webkit-calc(100% + 1em);
  top: calc(100% + 1em);
  left: 50%;
  -webkit-transform: translate3d(-50%, 15px, 0);
  transform: translate3d(-50%, 15px, 0);
  text-align: center;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-bottom .jltma-tooltip-text:after {
  top: -0.5em;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent #f9f9f9 transparent;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-top:hover .jltma-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.jltma-tooltip .jltma-tooltip-item.tooltip-top .jltma-tooltip-content:hover ~ .jltma-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-top .jltma-tooltip-text {
  bottom: -webkit-calc(100% + 1em);
  bottom: calc(100% + 1em);
  left: 50%;
  -webkit-transform: translate3d(-50%, -15px, 0);
  transform: translate3d(-50%, -15px, 0);
  text-align: center;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-top .jltma-tooltip-text:after {
  bottom: -0.5em;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  border-width: 0.5em 0.5em 0 0.5em;
  border-color: #f9f9f9 transparent transparent transparent;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-right:hover .jltma-tooltip-text {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.jltma-tooltip .jltma-tooltip-item.tooltip-right .jltma-tooltip-content:hover ~ .jltma-tooltip-text {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-right .jltma-tooltip-text {
  top: 50%;
  left: -webkit-calc(100% + 1em);
  left: calc(100% + 1em);
  -webkit-transform: translate3d(15px, -50%, 0);
  transform: translate3d(15px, -50%, 0);
  text-align: center;
}

.jltma-tooltip .jltma-tooltip-item.tooltip-right .jltma-tooltip-text:after {
  top: 50%;
  left: -0.5em;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0.5em 0.5em 0;
  border-color: transparent #fff transparent transparent;
}
