/*
* Master Addons Elementor Styles
 */

/* Accordion */
.ma-advanced-accordion {
    width: auto;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.ma-advanced-accordion .ma-accordion-tab-title {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }

.ma-advanced-accordion .ma-accordion-tab-title .ma-accordion-toggle-icon {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.ma-advanced-accordion .ma-accordion-tab-title.ma-accordion-tab-active .ma-accordion-toggle-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.fa-accordion-icon {
    display: inline-block;
    margin-right: 10px; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content {
    display: none;
    border: 1px solid #eee;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.7; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content p {
    margin: 0; }

.ma-advanced-accordion .ma-accordion-item .ma-accordion-tab-content.ma-accordion-tab-active {
    display: block; }




/* Tooltip Start */

.ma-el-tooltip {
    transition: all .3s ease;
}

.ma-el-tooltip .ma-el-tooltip-item {
    position: relative;
}

.ma-el-tooltip .ma-el-tooltip-content-text {
    line-height: 0.5;
}

.ma-el-tooltip-align-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.ma-el-tooltip-align-center {
    display: flex;
    width: 100%;
    justify-content: center;
}
.ma-el-tooltip-align-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.ma-el-tooltip .ma-el-tooltip-item .ma-el-tooltip-content {
    cursor: pointer;
    line-height: 0.6;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    transition: all .3s ease;
}

.ma-el-tooltip .ma-el-tooltip-item .ma-el-tooltip-content a img {
    margin: 0 auto;
}

.ma-el-tooltip .ma-el-tooltip-item .ma-el-tooltip-text {
    position: absolute;
    min-width: 150px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
    border-radius: 3px;
    font-weight: 300;
    font-size: 16px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.ma-el-tooltip .ma-el-tooltip-item .ma-el-tooltip-text:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.ma-el-tooltip .ma-el-tooltip-item .ma-el-tooltip-content:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.13);
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-left .ma-el-tooltip-content:hover ~ .ma-el-tooltip-text {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 1;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-left .ma-el-tooltip-text {
    top: 50%;
    right: calc(100% + 1em);
    -webkit-transform: translate3d(-15px, -50%, 0);
    transform: translate3d(-15px, -50%, 0);
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-left .ma-el-tooltip-text:after {
    top: 50%;
    right: -0.5em;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent #f9f9f9;
}


.ma-el-tooltip .ma-el-tooltip-item.tooltip-bottom .ma-el-tooltip-content:hover ~ .ma-el-tooltip-text {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
    opacity: 1;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-bottom .ma-el-tooltip-text {
    top: calc(100% + 1em);
    left: 50%;
    -webkit-transform: translate3d(-50%, 15px, 0);
    transform: translate3d(-50%, 15px, 0);
    text-align: center;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-bottom .ma-el-tooltip-text:after {
    top: -0.5em;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent #f9f9f9 transparent;
}


.ma-el-tooltip .ma-el-tooltip-item.tooltip-top .ma-el-tooltip-content:hover ~ .ma-el-tooltip-text {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
    opacity: 1;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-top .ma-el-tooltip-text {
    bottom: calc(100% + 1em);
    left: 50%;
    -webkit-transform: translate3d(-50%, -15px, 0);
    transform: translate3d(-50%, -15px, 0);
    text-align: center;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-top .ma-el-tooltip-text:after {
    bottom: -0.5em;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    border-width: 0.5em 0.5em 0 0.5em;
}


.ma-el-tooltip .ma-el-tooltip-item.tooltip-right .ma-el-tooltip-content:hover ~ .ma-el-tooltip-text {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 1;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-right .ma-el-tooltip-text {
    top: 50%;
    left: calc(100% + 1em);
    -webkit-transform: translate3d(15px, -50%, 0);
    transform: translate3d(15px, -50%, 0);
    text-align: center;
}

.ma-el-tooltip .ma-el-tooltip-item.tooltip-right .ma-el-tooltip-text:after {
    top: 50%;
    left: -0.5em;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    border-width: 0.5em 0.5em 0.5em 0;
    border-color: transparent #fff transparent transparent;
}

/* Tooltip End */





/* Exclusive Tabs Start */

.ma-el-advance-tab.two .ma-el-advance-tab-nav {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.ma-el-advance-tab.two .ma-el-advance-tab-nav li {
    position: relative;
    padding: 1em 1.5em;
    flex: 1;
    cursor: pointer;
    align-items: center;
    text-align: center;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}

.ma-el-advance-tab.two .ma-el-advance-tab-nav li span {
    color: #8a8d91;
    font-family: "Roboto", sans-serif;
}

.ma-el-advance-tab.two .ma-el-advance-tab-nav li.active {
    border-bottom: 1px solid #704aff;
}

.ma-el-advance-tab.two .ma-el-advance-tab-nav li.active span {
    color: #0a1724;
}

.ma-el-advance-tab.two .ma-el-advance-tab-content {
    display: none;
    padding: 40px;
    position: relative;
}

.ma-el-advance-tab.two .ma-el-advance-tab-content .ma-el-advance-tab-content-title {
    font-size: 40px;
    color: #0a1724;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.ma-el-advance-tab.two .ma-el-advance-tab-content p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 20px 0px 50px 0px;
}

.ma-el-advance-tab.two .ma-el-advance-tab-content.active {
    display: inherit;
}

.ma-el-advance-tab.three {
    display: flex;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav {
    width: 26%;
    margin: 0 4% 0 0;
    padding: 0;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li {
    list-style: none;
    background: #fff;
    padding: 25px 40px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li::before {
    position: absolute;
    content: '';
    top: 50%;
    right: -8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-left-color: #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    opacity: 0;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li span {
    color: #0a1724;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li span i {
    margin-right: 15px;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li.active {
    box-shadow: 0px 30px 40px 0px rgba(5, 9, 42, 0.08);
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li.active::before {
    opacity: 1;
}

.ma-el-advance-tab.three .ma-el-advance-tab-nav li.active span {
    color: #4ecad2;
}

.ma-el-advance-tab.three .ma-el-advance-tab-content {
    width: 70%;
    display: none;
    background: #fff;
    padding: 60px 30px;
    border-radius: 10px;
}

.ma-el-advance-tab.three .ma-el-advance-tab-content .ma-el-advance-tab-content-title {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #0a1724;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.ma-el-advance-tab.three .ma-el-advance-tab-content .ma-el-advance-tab-content-description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 25px 0 50px 0;
}

.ma-el-advance-tab.three .ma-el-advance-tab-content.active {
    display: block;
}

.ma-el-advance-tab.four {
    display: flex;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav {
    width: 30%;
    margin: 0;
    padding: 0;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li {
    list-style: none;
    background: #f0f1f2;
    padding: 25px 40px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-right: 10px;
    transition: all .3s ease;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li::before {
    position: absolute;
    content: '';
    width: calc(100% + 11px);
    height: 0;
    background: #fff;
    top: 0;
    left: 0px;
    opacity: 0;
    transition: all .3s ease;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li::after {
    position: absolute;
    content: '';
    height: 0;
    width: 3px;
    background: #36d3ac;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    transition: all .3s ease;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li span {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li span i {
    margin-right: 10px;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li.active {
    background: #fff;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li.active::before {
    opacity: 1;
    z-index: -1;
    border-width: 1px 0 1px 1px;
    border-color: #f0f1f2;
    border-style: solid;
    height: 100%;
}

.ma-el-advance-tab.four .ma-el-advance-tab-nav li.active::after {
    opacity: 1;
    -webkit-transform: translateY(1);
    transform: translateY(1);
    height: 100%;
}

.ma-el-advance-tab.four .ma-el-advance-tab-content {
    display: none;
    width: 70%;
    border: 1px solid #f0f1f2;
    padding: 30px 25px;
}

.ma-el-advance-tab.four .ma-el-advance-tab-content .ma-el-advance-tab-content-title {
    font-size: 24px;
    color: #0a1724;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
}

.ma-el-advance-tab.four .ma-el-advance-tab-content .ma-el-advance-tab-content-description {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    margin: 30px 0 40px 0;
}

.ma-el-advance-tab.four .ma-el-advance-tab-content.active {
    display: block;
}

@media only screen and (max-width: 768px){
    .ma-el-advance-tab.two .ma-el-advance-tab-nav{
        flex-direction: column;
    }
    .ma-el-advance-tab.three{
        flex-direction: column;
    }
    .ma-el-advance-tab.three .ma-el-advance-tab-nav{
        width: 100%;
    }
    .ma-el-advance-tab.three .ma-el-advance-tab-content{
        width: 100%;
    }
    .ma-el-advance-tab.three .ma-el-advance-tab-nav li.active::before{
        opacity: 0;
    }
    .ma-el-advance-tab.four{
        flex-direction: column;
    }
    .ma-el-advance-tab.four .ma-el-advance-tab-nav{
        width: 100%;
    }
    .ma-el-advance-tab.four .ma-el-advance-tab-content{
        width: 100%;
    }
    .ma-el-advance-tab.four .ma-el-advance-tab-nav li.active::before{
        border-width: 1px 1px 1px 1px;
    }
}

/* Exclusive Tabs End */