.jltma-creative-button--winona {
    overflow: hidden;
    padding: 0;
    transition: border-color 0.3s, background-color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::after {
        content: attr(data-text);
        color: #3f51b5;
        transform: translate3d(0, 25%, 0);
    }
    > span {
        display: block;
    }
    &::after,
    > span {
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
        border-color: #3f51b5;
        background-color: rgba(63, 81, 181, 0.1);
        &::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        > span {
            opacity: 0;
            transform: translate3d(0, -25%, 0);
        }
    }
    &.jltma-creative-button--inverted {
        color: #7986cb;
        &:after {
            color: #fff;
        }
        &:hover {
            border-color: #21333c;
            background-color: #21333c;
        }
    }
}
.jltma-creative-button--winona:after,
.jltma-creative-button--ujarak:before,
.jltma-creative-button--wayra::before,
.jltma-creative-button--rayen::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.jltma-creative-button--nina::before {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.jltma-creative-button--ujarak {
    transition: border-color 0.4s, color 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::before {
        content: attr(data-text);
        background: #37474f;
        z-index: -1;
        -webkit-transform: scale3d(0.7, 1, 1);
        transform: scale3d(0.7, 1, 1);
        transition: opacity 0.4s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.4s;
        transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
        color: #fff;
        border-color: #37474f;
        &::before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    &.jltma-creative-button--round-s::before {
        border-radius: 2px;
    }
    &.jltma-creative-button--inverted {
        &::before {
            background: #7986cb;
        }
        &:hover {
            color: #37474f;
            border-color: #fff;
        }
    }
}

.jltma-creative-button--wayra {
    overflow: hidden;
    width: 245px;
    transition: border-color 0.3s, color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::before {
        content: attr(data-text);
        background: #37474f;
        z-index: -1;
        transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
        transform-origin: 0 100%;
        transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s,
            -webkit-transform 0.3s;
    }
    &:hover {
        color: #fff;
        border-color: #3f51b5;
        &::before {
            opacity: 1;
            background-color: #3f51b5;
            transform: rotate3d(0, 0, 1, 0deg);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }
    }
    &.jltma-creative-button--inverted:hover {
        color: #3f51b5;
        border-color: #fff;
        &::before {
            background-color: #fff;
        }
    }
}
.jltma-creative-button--tamaya {
    overflow: hidden;
    color: #7986cb;
    min-width: 180px;
    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        background: #7986cb;
        color: #fff;
        overflow: hidden;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &::before {
        top: 0;
        padding-top: 1em;
    }
    &::after {
        bottom: 0;
        line-height: 0;
    }
    &:hover {
        &::before {
            transform: translate3d(0, -100%, 0);
        }
        &::after {
            transform: translate3d(0, 100%, 0);
        }
        > span {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }
    > span {
        display: block;
        -webkit-transform: scale3d(0.2, 0.2, 1);
        transform: scale3d(0.2, 0.2, 1);
        opacity: 0;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &.jltma-creative-button--inverted {
        color: #37474f;
        border-color: #37474f;
        &::before,
        &::after {
            background: #fff;
            color: #37474f;
        }
    }
}
.jltma-creative-button--rayen {
    overflow: hidden;
    padding: 0;
    width: 230px;
    &::before {
        content: attr(data-text);
        background: #7986cb;
        transform: translate3d(-100%, 0, 0);
        z-index: 1;
    }
    > span {
        display: block;
    }
    &::before,
    > span {
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover {
        &::before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        > span {
            transform: translate3d(0, 150%, 0);
        }
        &.jltma-creative-button--inverted {
            color: #fff;
            &::before {
                background: #fff;
                color: #37474f;
            }
        }
    }
}
