@charset "UTF-8";
.jltma-admin * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.jltma-admin #jltma_megamenu_modal .jltma-modal-content {
  min-width: 900px;
}
.jltma-admin .jltma-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.jltma-admin .jltma-modal.show {
  opacity: 1;
  z-index: 999999;
}
.jltma-admin .jltma-modal.show .jltma-modal-dialog {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.jltma-admin .jltma-modal .jltma-modal-dialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 900px;
  min-width: 768px;
  margin: 0 auto;
  -webkit-transform: translate(0, -50px);
      -ms-transform: translate(0, -50px);
          transform: translate(0, -50px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.jltma-admin .jltma-modal .jltma-modal-content {
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.jltma-admin .jltma-modal .jltma-pop-contents-head {
  background: #6f10b5;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2rem;
  position: relative;
  width: 100%;
}
.jltma-admin .jltma-modal .jltma-pop-contents-head h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.jltma-admin .jltma-modal .jltma-pop-contents-head .jltma-menu-item-save {
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin-right: -75px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.jltma-admin .jltma-modal .jltma-pop-contents-head .jltma-menu-item-save.jltma-save-btn {
  padding: 0.75rem 2rem;
}
.jltma-admin .jltma-modal .jltma-pop-contents-head .jltma-menu-item-save.jltma-save-btn:hover {
  background: #f0f0f1;
  border-color: #0a4b78;
  color: #0a4b78;
}
.jltma-admin .jltma-modal .jltma-pop-close {
  background-color: #fff;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 24px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  top: -3px;
  position: relative;
}
.jltma-admin .jltma-modal .jltma-pop-close button {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5rem;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs {
  border: none;
  border-right: 2px solid #e7e7f4;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  margin-top: 0;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs .jltma-nav-item {
  width: 100%;
  margin-bottom: 1.5rem;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs .jltma-nav-item a {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #78909c;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  margin-right: -2px;
  padding: 2px 2rem;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs .jltma-nav-item a:hover {
  border: 0;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs .jltma-nav-item a.active {
  color: #393c3f;
}
.jltma-admin .jltma-modal .jltma-pop-contents-padding .jltma-tabs .jltma-nav-item a.active:before {
  content: "";
  background: #4b00e7;
  height: 100%;
  width: 4px;
  top: 0;
  right: -2px;
  position: absolute;
}
.jltma-admin .jltma-modal .jltma-tab-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  padding: 0 1rem 0 3rem;
}
.jltma-admin .jltma-modal .jltma-tab-pane {
  display: none;
  width: 100%;
}
.jltma-admin .jltma-modal .jltma-tab-pane.active {
  display: block;
}
.jltma-admin .jltma-modal .jltma-switch-title {
  color: #78909c;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-custom-control {
  overflow: hidden;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch input {
  display: none;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch-slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9e9ee;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .is_enabled .jltma-switch-slider {
  background-color: #49c66a;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch-slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 36px;
  width: 36px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.4s;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch-slider:after {
  position: absolute;
  left: 3px;
  z-index: 1;
  content: "YES";
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 0;
  width: 45px;
  height: 40px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch-slider.round {
  -webkit-border-radius: 100px;
          border-radius: 100px;
}
.jltma-admin .jltma-modal .jltma-pop-content-inner .jltma-switch-slider.round:before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.jltma-admin .jltma-modal input:checked + .jltma-switch-slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  text-align: center;
}
.jltma-admin .jltma-modal input:checked + .jltma-switch-slider:before {
  background-color: #fff;
}
.jltma-admin .jltma-modal input:checked + .jltma-switch-slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.jltma-admin .jltma-modal .absolute-no {
  color: #c8cfd6;
  position: absolute;
  right: 15px;
  color: darkslategrey;
  text-align: right !important;
  font-size: 14px;
  font-weight: 500;
  width: -webkit-calc(100% - 25px);
  width: calc(100% - 25px);
  height: 100px;
  line-height: 40px;
  cursor: pointer;
}
.jltma-admin .jltma-modal .jltma-pop-contents-body .content-edit-btn {
  background: #4b00e7;
  border: 1px solid transparent;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 1rem;
  padding: 5px 3rem;
  text-transform: uppercase;
}
.jltma-admin .jltma-modal .jltma-pop-contents-body .content-edit-btn:focus,
.jltma-admin .jltma-modal .jltma-pop-contents-head .close-btn,
.jltma-admin .jltma-modal #jltma-mega-menu-builder-modal .jltma_close {
  outline: none;
}
.jltma-admin .jltma-modal .jltma-pop-contents-body .content-edit-btn:disabled,
.jltma-admin .jltma-modal .jltma-pop-contents-body .content-edit-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.jltma-admin .jltma-modal .option-table.jltma-label-container {
  width: 100%;
}
.jltma-admin .jltma-modal .option-table.jltma-label-container tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.jltma-admin .jltma-modal .option-table.jltma-label-container td {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.jltma-admin .jltma-modal .jltma-label-container .wp-color-result.button {
  border-color: #ddd;
}
.jltma-admin .jltma-modal #mobile_submenu_content_type {
  margin: 30px 0 15px;
}
.jltma-admin .jltma-modal #mobile_submenu_content_type * {
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.jltma-admin .jltma-modal #mobile_submenu_content_type span {
  margin: 0 10px 0 0;
}
.jltma-admin .jltma-modal .is_enabled #mobile_submenu_content_type * {
  opacity: 1;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  pointer-events: auto;
}
.jltma-admin .jltma-modal .is_enabled #mobile_submenu_content_type * {
  opacity: 1;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  pointer-events: auto;
}
.jltma-admin .jltma-modal .jltma-menu-mega-submenu.disabled_item {
  color: #aaa;
}
.jltma-admin .jltma-modal .jltma-menu-mega-submenu {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}
.jltma-admin .jltma-modal .jltma-menu-mega-submenu.enabled_item {
  color: #81c784;
  display: none;
}
.jltma-admin .jltma-modal .jltma-menu-mega-submenu.disabled_item {
  color: #aaa;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper {
  text-align: center;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper .enabled_item {
  display: none;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper img {
  height: 30px;
  margin-right: 5px;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper .button {
  height: 46px;
  font-size: 16px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper.is_enabled .disabled_item {
  display: none;
}
.jltma-admin .jltma-modal #jltma-menu-builder-wrapper.is_enabled .enabled_item {
  display: block;
}
.jltma-admin .jltma-modal .jltma-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
}
.jltma-admin .jltma-modal .jltma-row [class*=jltma-col] {
  margin-bottom: 0.5rem;
  padding: 0 15px;
}
.jltma-admin .jltma-modal .jltma-row .jltma-col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.jltma-admin .jltma-modal .jltma-row .jltma-col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.jltma-admin .jltma-modal .jltma-row .jltma-col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.jltma-admin .jltma-modal .jltma-row .jltma-col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.jltma-admin .jltma-modal .jltma-row .jltma-form-control {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #2c3338;
  display: block;
  font-size: 14px;
  line-height: 20px;
  height: -webkit-calc(1.5em + 0.75rem + 2px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 100%;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.jltma-admin .jltma-modal .master-mega-menu-accordion input[type=checkbox],
.jltma-admin .jltma-modal .jtlma-mega-switcher input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.jltma-admin .jltma-modal .master-mega-menu-accordion label,
.jltma-admin .jltma-modal .jtlma-mega-switcher label {
  background: #aaa;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 65px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
}
.jltma-admin .jltma-modal .master-mega-menu-accordion label:after,
.jltma-admin .jltma-modal .jtlma-mega-switcher label:after {
  content: "On";
  background: #fff;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  height: 20px;
  width: 25px;
  top: 5px;
  left: 5px;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.jltma-admin .jltma-modal .master-mega-menu-accordion input:checked + label,
.jltma-admin .jltma-modal .jtlma-mega-switcher input:checked + label {
  background: #2eb85c;
}
.jltma-admin .jltma-modal .master-mega-menu-accordion input:checked + label:after,
.jltma-admin .jltma-modal .jtlma-mega-switcher input:checked + label:after {
  left: -webkit-calc(100% - 5px);
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.jltma-admin .jltma-modal .master-mega-menu-accordion label:active:after,
.jltma-admin .jltma-modal .jtlma-mega-switcher label:active:after {
  content: "Off";
  width: 65px;
}
.jltma-admin .jltma-modal .jltma-pro-badge {
  position: absolute;
  z-index: 333;
  text-align: center;
  padding-left: 17%;
  font-size: 70px !important;
  padding-top: 7%;
}
.jltma-admin .jltma-modal #icon_tab .jltma-pro-badge {
  padding-left: 13%;
  padding-top: 0;
}
.jltma-admin .jltma-modal .jltma-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.jltma-admin .jltma-modal .button.icon-picker {
  font-size: 24px;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: center;
}
.jltma-admin .jltma-modal .button.icon-picker:before {
  content: "ï”„";
  font-family: dashicons;
  font-size: 30px;
}
.jltma-admin #jltma-mega-menu-builder-modal {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: auto;
  padding: 40px !important;
}
.jltma-admin #jltma-mega-menu-builder-modal .jltma-modal-dialog {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.jltma-admin #jltma-mega-menu-builder-modal .jltma-modal-dialog .jltma-modal-content {
  height: 100%;
  width: 100%;
}
.jltma-admin #jltma-mega-menu-builder-modal .jltma-modal-dialog .jltma-modal-body {
  height: 100%;
}
.jltma-admin #jltma-mega-menu-builder-modal .jltma-modal-dialog .jltma-pop-close {
  border: 0;
  float: right;
}
.jltma-admin #jltma-mega-menu-builder-modal .jltma-modal-dialog iframe {
  height: -webkit-calc(100% - 45px);
  height: calc(100% - 45px);
  width: 100%;
}
